@import "vars";
.footer {
  margin-top: 96px;
  height: 272px;
  display: flex;
  gap: 101px;
  & img {
    width: 1px;
  }
}
.interno {
  width: 393px;
}
.icons-wrapper {
  margin-top: 31px;
  display: flex;
  gap: 54px;
}
.pages {
  width: 125px;
  display: flex;
  flex-direction: column;
}
.services {
  width: 120px;
}
.contact {
  width: 258px;
}
.footer-title {
  color: $titleColor;
  font-family: "DM Serif Display", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 31.25px */
}
.footer-text {
  color: $textColor;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 33px */
  letter-spacing: 0.22px;
}
.interno-text {
  margin-top: 18px;
}
.pages {
  & > h1 {
    margin-bottom: 9px;
  }
  & > a {
    line-height: 300%; /* 66px */
  }
}
.contact {
  & > h1 {
    margin-bottom: 26px;
  }
}
.contact-text {
  line-height: 300%; /* 66px */
}
