@import "header";
@import "footer";
@import "vars";

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600&display=swap");

.banner {
  margin-top: 57px;
  height: 758px;
  background: url(../img/index-banner.png) no-repeat center;
  &__title {
    padding-top: 208px;
    padding-left: 52px;
    color: $titleColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 81.25px */
  }
  &__text {
    width: 433px;
    padding-top: 18px;
    padding-left: 52px;
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &__button {
    width: 124px;
    display: flex;
    gap: 10px;
    margin-top: 21px;
    margin-left: 52px;
    color: #fff;
    padding: 26px 48px;
    border-radius: 18px;
    background: $titleColor;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    align-items: center;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
  }
}
.projects {
  margin-top: 96px;
  &__title {
    color: $titleColor;
    text-align: center;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }
  &__text {
    margin-top: 8px;
    color: $textColor;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &__content {
    margin-top: 93px;
    display: grid;
    grid-template-columns: repeat(2, 548px);
    row-gap: 56px;
    column-gap: 104px;
  }
}
.project {
  &__wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    color: $titleColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }
  &__discr {
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
}
.indicators {
  margin-top: 100px;
  background-color: $indicatorsBackColor;
  height: 457px;
  display: flex;
  gap: 130px;
  &__item {
    padding-top: 151px;
    width: 192px;
    position: relative;
    &:not(:last-child)::after {
      content: " ";
      background: $indicatorColor;
      width: 1px;
      height: 130px;
      top: 169px;
      left: 250px;
      position: absolute;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__quantity {
    color: $indicatorColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 85px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 106.25px */
    letter-spacing: 1.7px;
  }
  &__name {
    margin-top: 16px;
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
}
.articles {
  margin-top: 96px;
  &__title {
    color: $titleColor;
    text-align: center;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }
  &__text {
    margin-top: 12px;
    color: $textColor;
    text-align: center;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &__content {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;
  }
}
.article {
  padding: 21px;
  width: 382px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  position: relative;
  transition: all 0.3s;
  &__tag {
    position: absolute;
    top: 249px;
    left: 41px;
  }
  &__name {
    margin-top: 21px;
    color: $titleColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }
  &__data {
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
  }
  &__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:hover {
    background-color: $indicatorsBackColor;
  }
  &:hover circle {
    cursor: pointer;
    transition: fill 0.3s;
    fill: #fff;
  }
}
.footer {
  margin-bottom: 134px;
}
