@import "header";
@import "breadcrumbs";
@import "footer";
@import "vars";

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600&display=swap");

.banner {
  margin-top: 45px;
  height: 356px;
  background: url(../img/blog-banner.png) no-repeat center;
  padding-top: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__titleBack {
    width: 503px;
    border-radius: 37px 37px 0px 0px;
    background: #fff;
    padding: 41px 78px;
  }
  &__title {
    text-align: center;
    color: $titleColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 81.25px */
  }

  &__text {
    width: 433px;
    padding-top: 18px;
    padding-left: 52px;
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &__button {
    width: 124px;
    display: flex;
    gap: 10px;
    margin-top: 21px;
    margin-left: 52px;
    color: #fff;
    padding: 26px 48px;
    border-radius: 18px;
    background: #292f36;
    box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
    align-items: center;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 125%; /* 22.5px */
    letter-spacing: 0.36px;
  }
}
.blog {
  margin-top: 200px;
  &__heading {
    color: $titleColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }
  &__content {
    padding: 22px;
    border-radius: 62px;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    gap: 65px;
    align-items: center;
  }
  &__title {
    font-size: 25px;
    letter-spacing: 0.5px;
  }

  &__text {
    width: 469px;
    margin-top: 22px;
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 33px */
    letter-spacing: 0.22px;
  }
  &__wrapper {
    margin-top: 30px;
    display: flex;
    gap: 300px;
    align-items: center;
  }
  &__data {
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
  }
}

.articles {
  margin-top: 150px;
  &__title {
    color: $titleColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 62.5px */
    letter-spacing: 1px;
  }

  &__content {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 381px);
    row-gap: 30px;
    column-gap: 28px;
  }
}
.article {
  padding: 21px;
  width: 382px;
  height: 521px;
  border-radius: 62px;
  border: 1px solid #e7e7e7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  position: relative;
  transition: all 0.3s;
  &__tag {
    position: absolute;
    top: 249px;
    left: 41px;
  }
  &__name {
    width: 290px;
    margin-top: 11px;
    color: $titleColor;
    font-family: "DM Serif Display", sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 31.25px */
    letter-spacing: 0.5px;
  }
  &__data {
    color: $textColor;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: 0.16px;
  }
  &__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:hover {
    background-color: $indicatorsBackColor;
  }
  &:hover circle {
    cursor: pointer;
    transition: fill 0.3s;
    fill: #fff;
  }
}
.paganation {
  margin-top: 51px;
  display: flex;
  gap: 20px;
  justify-content: center;
  &__wrapper {
    position: relative;
    &:hover circle {
      cursor: pointer;
      transition: all 0.3s;
      fill: $indicatorsBackColor;
      stroke: $indicatorsBackColor;
    }
  }
  &__numberPage {
    text-align: center;
    width: 18px;
    color: $titleColor;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24px */
    text-transform: capitalize;
    position: absolute;
    top: 14px;
    left: 17px;
    &:hover {
      cursor: pointer;
    }
  }
}
.footer {
  margin-top: 200px;
  margin-bottom: 116px;
}
